[flake8]
ignore = E203, E266, E501, W503, F403, F401
max-line-length = 79
max-complexity = 19
select = B,C,E,F,W,T4,B9
docstring-convention=numpy
application_import_names = weather
import-order = true
import-order-style = google
exclude = .git, manage.py, **__pycache__**, **migrations*, **venv**, venv, **mock-weather-api**